/* Navbar CSS */

img {
    width: 125.5px;
    height: 46px;
}

.navbar{
    padding: 0 25px 0 25px;
}

.navbar-light .navbar-nav .nav-link {
    color: #76a1b4;
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
    background-color:#5aa0e0;
}

span:hover {
    color: #ffffff;
    background-color: #5aa0e0;
}

span.navbar {
    color: white;
}