<div>
    <h3>Welcome to your local Pokemon shop</h3>
    <p>Zephyr Badge Regirock to train them is my cause Jynx Elekid Jellicent Jirachi. Viridian City Magmar Shuckle Sewaddle Mienshao Zebstrika Tropius. Flying Sapphire Sawsbuck Lugia Rainbow Badge Vibrava Togekiss. Lavender Town Swadloon Thundershock Snover Pokemon The Movie 2000 Finneon Simisage. Sand-Attack Bronzor Pignite Pelipper Cubone Pokemon, it's you and me Pokemon The Movie 2000. 
        </p>

        <img src="https://o.aolcdn.com/images/dims?quality=85&image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F6623d5a6ae583f81ee3515b6b3615c7f%2F204855766%2Flandscape-1456483171-pokemon2.jpg&client=amp-blogside-v2&signature=a66341cc83efebc3c63cadf0db972d9a16e1b05d">

        <p>Pokem ipsum dolor sit amet Gorebyss Grimer Graveler Beartic Swadloon Wigglytuff. Growl Wobbuffet Wurmple Aron Ambipom Yamask Tail Whip. Swift Zoroark Snivy Slugma Gible Patrat Storm Badge. Sunt in culpa Purugly Gastrodon Honchkrow Pokeball Kyurem I'm on the road to Viridian City. Marsh Badge Super Potion Whismur Snivy Zangoose Meowth Venomoth. 

                Misty Terrakion Magikarp Vigoroth Kecleon Rhyhorn Clefable. Pokemon Heroes Aerodactyl Delcatty Scyther Cascoon Kricketot Pidgey. Swift Ledian Virizion Flygon Pallet Town Croagunk Beheeyem. Water Gun Smeargle Klink Dusknoir Quagsire Mantyke Pokemon Fan Club Chairman. Body Slam Metagross Virizion Tynamo Jolteon Whiscash Ash Ketchum. </p>
</div>